@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata</h1>
<h2 class="text-danger">İstek işlenirken bir sorun oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek Numarası:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Geliştirme Modu</h3>
<p>
    <strong>Geliştirme</strong> ortamına geçmek oluşan hata hakkında daha ayrıntılı bilgi gösterir.
</p>
<p>
    <strong>Geliştirme ortamı yayındaki uygulamalarda açık bırakılmamalıdır.</strong>
    Yerel hata ayıklama için uygulamayı geliştirme ortamında yeniden başlatabilirsiniz.
</p>
