@{
    ViewData["Title"] = "Hakkında";
}

<h1>Hakkında</h1>

<p>
    Bu proje, üniversite topluluklarının ve etkinliklerinin yönetimini kolaylaştırmak amacıyla geliştirilmiş bir web uygulamasıdır.
</p>


